<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-left">
      <span class="footer-name">{{ site.title }}</span>
      <span class="footer-tagline">{{ site.description }}</span>
      <span class="footer-copy d-none d-md-block">&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</span>
    </div>
    <div class="footer-logo-box">
      <img class="footer-logo" src="{{ site.baseurl }}/images/logo/RMIT.png" alt="RMIT Logo">
    </div>
  </div>
</footer>
