---
layout: default
bodyClass: "page-teams"
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-8 order-2 order-md-1 centerTitle">
                {{ content }}
            </div>
            <!-- {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %} -->
        </div>
    </div>
</div>
<div class="strip">

    <div class="container pt-1 pb-6">
        <div class="row">
            {% assign promoted_teams = site.people | where: "featured", true | sort: "weight" %}
            {% for person in promoted_teams %}
            <div class="col-12 col-md-6 mb-2">
                <div class="team team-summary team-summary-large">
                    {% if person.image %}
                    <div class="team-image">
                        <img width="90" height="90" alt="{{ person.title }}" class="img-fluid mb-2"
                            src="{{ person.image | relative_url }}" />
                    </div>
                    {% endif %}
                    <div class="team-meta">
                        <h3 class="team-name"><a href="{{ person.url | relative_url }}">{{ person.name }}</a></h3>
                        <p class="team-description">{{ person.title }}</p>
                        {% if person.linkedinurl %}
                        <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer">LinkedIn</a>
                        {% endif %}
                    </div>
                    <!-- <div class="team-content">{{ person.excerpt | truncate: 120 }}</div> -->
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row  pt-6 pb-6" id="team-container">
            {% assign people = site.people | sort: "weight" %}
            {% for person in people %}
            {% if person.type == "profile" and person.featured != true %}
            <div class="col-12 col-md-4 mb-3">
                <div class="team team-summary">
                    {% if person.image %}
                    <div class="team-image">
                        <img width="60" height="60" alt="{{ person.title }}" class="img-fluid mb-2"
                            src="{{ person.image | relative_url }}" />
                    </div>
                    {% endif %}
                    <div class="team-meta">
                        <h3 class="team-name"><a href="{{ person.url | relative_url }}">{{ person.name }}</a></h3>
                        <a href="{{ person.linkedinurl }}" target="_blank" class="team-description">LinkedIn</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <script>
        // JavaScript to shuffle the team elements on page load
        document.addEventListener('DOMContentLoaded', function () {
            var teamContainer = document.getElementById('team-container');
            for (var i = teamContainer.children.length; i >= 0; i--) {
                teamContainer.appendChild(teamContainer.children[Math.random() * i | 0]);
            }
        });
    </script>
</div>